/* global */
*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-size: 16px;
    /* color: white; */
    font-family: "Montserrat", sans-serif;
}
a{
    color: var(--color-base-solid-button-labels);
    text-decoration: none;
}
:root {
    --wbbase-font: Nunito;
    --font-size-header: 40;
    --font-size-base: 14;
    --gradient-base-accent-1: #558297;
    --color-base-solid-button-labels: #ffffff;
    --gradient-base-accent-2: #000000;
    --color-wb-hovercolor-button-text: #ffffff;
    --color-wbmaincolors-text: #558297;
    --color-base-text: 0, 0, 0;
    --color-wbbordercolor: #eeeeee;
    --color-background: 255, 255, 255;
    --gradient-background: #ffffff;
    --payment-terms-background-color: #ffffff;
    --color-wbprodct-background: #ffffff;
}
/* header card  */
.wbhcart .svgbg{
    min-width: 35px;
    min-height: 35px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    background: rgb(var(--color-background));
    box-shadow: 0 0 6px #0003;
    border-radius: 4px;
    padding-top: 5px;
    transition: .3s all ease;
}

.wbhcartitem{
    background: var(--gradient-base-accent-1);
    color: var(--color-base-solid-button-labels);
    width: 18px;
    height: 18px;
    text-align: center;
    font-size: 12px;
    border-radius: 100%;
    display: inline-block;
    position: absolute;
    right: -8px;
    top: -4px;
}

.dropdown-menu{
    padding: 0;
}

.table{
    margin: 0;
}

/* protab  */
.pro-tab {
    position: relative;
    margin-bottom: 30px;
}
.heading {
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
    position: relative;
    margin-bottom: 30px;
}

.pro-tab .nav-tabs {
    border-bottom: none;
    display: block;
}

.pro-tab .nav-tabs .nav-item {
    margin: 0 25px;
    display: inline-block;
    vertical-align: middle;
}

.pro-tab .nav-tabs .nav-item .nav-link.active, .pro-tab .nav-tabs .nav-link:hover {
    background: var(--gradient-base-accent-1);
    color: var(--color-base-solid-button-labels);
}
.pro-tab .nav-tabs .nav-link {
    text-transform: capitalize;
    position: relative;
    font-weight: 600;
    padding: 8px 35px;
    font-size: calc(var(--font-size-base) * 1.43px);
    border: none;
    color: var(--color-wbmaincolors-text);
    border-radius: 10px;
    border: 2px solid var(--gradient-base-accent-1);
}

.table-info{
    background-color:var(--gradient-base-accent-1);
    color: var(--color-base-solid-button-labels);
}

/* tab-content  */
.card {
    position: relative;
    flex-shrink: 0;
    height: 590px;
    width: 300px;
    background-color: var(--color-wbprodct-background);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 6px #0003;
    transition: .3s ease;
    margin-top: 5px;
    border: none;
}
.wbproductdes {
    padding: 0 15px 10px;
    text-align: left;
    font-size: 12px;
}

.wbproductdes p{
    margin-bottom: 0.5rem;
}

.img-fluid{
    width: 100%;
}

.img-container{
    padding: 10px;
}

.details{
    text-transform:capitalize;
    padding: 20px;
}
.details span{
    font-size: 25px;
    font-weight: 600;
}
.details__name{
    font-weight: 600;
}
.price{
    max-width: 240px;
}

/* cartItem css */
#cartItems tr td{
    text-align: center;
    vertical-align: middle;
}
.btnquantity{
    border-radius: 50%;
    padding: 0 4px;
    font-size: 10px;
}

/* btn to admin */
#btnToAdmin{
    background-color: var(--gradient-base-accent-1);
    border-color: var(--gradient-base-accent-1);
    color: var(--color-base-solid-button-labels);
}